<div class="main-contents" *ngIf="Messages.length > 0">
  <div class="container-fluid main">
    <h3>Live News Feed</h3>
    <div class="msgboxlist">
      <div class="row boxdiv" *ngFor="let msg of Messages">
        <div class="outer">
          <span class="exchange">{{msg.Exchange }}</span>
          <span class="createdat">{{msg.RelativeTime}}</span>
        </div>
        <div class="outer">
          <span class="text">{{msg.MessageText}}</span>
        </div>
        <div class="outer">
          <span class="localtime">{{msg.UnixToLocal}}</span>
        </div>
      </div>
    </div>
  </div>
</div>