.main-contents {
    /*height: 100vh;*/
}

.main {
    background: transparent;
    position: absolute;
    right: 0px;
    left: 10px;
    width: 470px;
    margin: 0;
    ;
}

.boxdiv {
    border: 1px solid transparent;
    margin: 0px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 115px;
    padding: 10px;
    list-style: none;
    border-top: .0625rem solid #e5e5e5;
    transition: .25s ease-in-out;
    border-left: .3125rem solid #fff;
    background-color: #fff;
    cursor: pointer;
}

.boxdiv:hover {
    background-color: #f7f8fa;
    border-left: .3125rem solid #00baff;
}

.outer {
    margin: 10px;
    padding: 0px 15px;
    color: #272727
}

.exchange {
    color: #272727;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: color .2s ease-in-out
}

.createdat {
    float: right;
    color: #929292;
    float: right;
    font-size: 1.3rem;
    text-decoration: none;
}

.text {
    font-size: 1.2em;
}

.localtime {
    font-size: 0.9em;
}

.msgboxlist {
    width: 470px;
    margin: 0px;
    padding: 0px;
    max-height: 450px;
    position: absolute;
    top: 80px;
    right: 0px;
    left: 10px;
}

h3 {
    background: transparent;
}